[Unit]
Description=Trigger a daily request to the powerfox-API.
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c  'curl localhost:3000/powerfox/daily'

# this does not need an install-section because the timer handles triggering